.graph-wrapper {
    position: relative;
    width: 100vw;
    background-color: #242424;
}

.graph-controls div.graph-controls-zoom {
    display: flex;
    flex-direction: column-reverse;
}

.graph-controls-zoom button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    transition: all 0.1s ease;
}

.graph-controls-zoom button:hover {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.graph-controls-zoom button:nth-child(2) {
    font-size: 0;
}

.graph-controls-zoom button:nth-child(2)::before {
    content: "R";
    font-size: 10px;
}


main#record-container {
    position: absolute;
    width: 45%;
    height: 65%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border: solid 2px #33ffbe;
    box-shadow: none;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.record footer li .record-links-context {
    color: black;
}

.record header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.record-btn-close {
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    border-right: 2px solid #33ffbe;
    border-bottom: 2px solid #33ffbe;
    border-left: none;
    border-top: none;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

button.record-btn-close:hover {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}

line {
    stroke: white;
}

circle {
    stroke: white;
    fill: #242424;
}

.graph-con
trols {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-right: 2px solid #33ffbe;
    border-bottom: 2px solid #33ffbe;
    padding: 25px;
    width: fit-content;
    height: fit-content;
}

.graph-timeline {
    color: white;
    border-top: 2px solid #33ffbe;
    padding: 25px;
    background-color: #242424;
    width: 100vw;
    left: 0;
    bottom: 0;
    height: fit-content;
}

.graph-controls::before {
    backdrop-filter: none;
}

.graph-controls-focus {
    display: none;
}
