aside.menu {
    display: none;
}

.graph-wrapper {
    position: relative;
    width: 100vw;
    background-color: #242424;
}

.graph-controls div.graph-controls-zoom {
    display: flex;
    flex-direction: column-reverse;
}

.graph-controls-zoom button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    transition: all 0.1s ease;
}

.graph-controls-zoom button:hover {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.graph-controls-zoom button:nth-child(2) {
    font-size: 0;
}

.graph-controls-zoom button:nth-child(2)::before {
    content: "R";
    font-size: 10px;
}


main#record-container {
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    border: solid 2px #33ffbe;
    box-shadow: none;
}

.record footer li .record-links-context {
    color: black;
}

.record header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.record-btn-close {
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    border-right: 2px solid #33ffbe;
    border-bottom: 2px solid #33ffbe;
    border-left: none;
    border-top: none;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

button.record-btn-close:hover {
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}

line {
    stroke: white;
}

circle {
    stroke: white;
    fill: #242424;
}

.graph-controls {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-right: 2px solid #33ffbe;
    border-bottom: 2px solid #33ffbe;
    padding: 25px;
    width: fit-content;
    height: fit-content;
}

.graph-timeline {
    color: white;
    border-top: 2px solid #33ffbe;
    padding: 25px;
    background-color: #242424;
    width: 100vw;
    left: 0;
    bottom: 0;
    height: fit-content;
}

.graph-controls::before {
    backdrop-filter: none;
}

.graph-controls-focus {
    display: none;
}

article.record header {
	display: grid;
	gap: 0 1em;
	grid-template:
	"img title" auto
	"img id" auto
	"img type" auto
	"img tags" auto
	"img prenom" auto
	"img nom" auto
	"img orcid" auto
	"img hal" auto
	"img gscholar" auto
	"img wikipedia" auto
	"img twitter" auto / 1fr 2fr;
}

h1.record-title { grid-area: title }
img.record-img { grid-area: img }
div.record-id { grid-area: id }
div.record-type { grid-area: type }
div.record-tags { grid-area: tags }
div.record-prenom { grid-area: prenom }
div.record-nom { grid-area: nom }
div.record-orcid { grid-area: orcid }
div.record-hal { grid-area: hal }
div.record-gscholar { grid-area: gscholar }
div.record-wikipedia { grid-area: wikipedia }
div.record-twitter { grid-area: twitter }
