aside.menu {
    display: none;
}

.graph-wrapper {
    position: relative;
    width: 100vw;
    background-color: #242424;
}

.graph-controls div.graph-controls-zoom {
    display: flex;
    flex-direction: column-reverse;
}

.graph-controls-zoom button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    background-color: #2e75d9;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    transition: all 0.1s ease;
}

.graph-controls-zoom button:hover {
    background-color: #4080d7;
}

.graph-controls-zoom button:nth-child(2) {
    font-size: 0;
}

.graph-controls-zoom button:nth-child(2)::before {
    content: "R";
    font-size: 10px;
}


main#record-container {
    position: absolute;
    width: 45%;
    height: 65%;
    background-color: #2e2e2e;
    opacity: 90%;
    color: white;
    border-radius: 15px;
    box-shadow: none;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.record footer li .record-links-context {
    color: black;
}

button.record-btn-close {
    background-color: #2e75d9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

button.record-btn-close:hover {
    background-color: #4080d7;
}

line {
    stroke: #4080d7;
}

circle {
    stroke: #2e75d9;
    fill: #2e75d9;
}

.graph-controls {
    position: absolute;
    top: 25px;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.graph-timeline {
    color: white;
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 5px;
    width: 100vw;
    left: 0;
    bottom: 0;
    height: fit-content;
}

.graph-controls::before {
    backdrop-filter: none;
}

.graph-controls-focus {
    display: none;
}
