aside.menu {
    display: none;
}

.graph-wrapper {
    position: relative;
    width: 100vw;
    background-color: #242424;
}

.graph-controls div.graph-controls-zoom {
    display: flex;
    flex-direction: column-reverse;
}

.graph-controls-zoom button {
    border: none;
    color: white;
    background-color: #2e75d9;
    border-radius: 25px;
    width: fit-content;
    height: fit-content;
    padding: 15px 20px;
    transition: all 0.1s ease;
}

.graph-controls-zoom button:hover {
    background-color: #4080d7;
}

.graph-controls-zoom button:nth-child(2) {
    font-size: 0;
}

.graph-controls-zoom button:nth-child(2)::before {
    content: "R";
    font-size: 11px;
}


main#record-container {
    background-color: #2e2e2e;
    color: white;
}

.record footer li .record-links-context {
    color: black;
}

button.record-btn-close {
    background-color: #2e75d9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: all 0.1s ease;
}

button.record-btn-close:hover {
    background-color: #4080d7;
}

line {
    stroke: #4080d7;
}

circle {
    stroke: #2e75d9;
    fill: #2e75d9;
}

.graph-controls {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.graph-controls::before {
    backdrop-filter: none;
}

input#focus-input.active {
    position: relative;
    right: 85px;
    top: 60px;
    rotate: 90deg;
}
